<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554710787770-7n7novg769o4iapnhmng32tgq6ua8dfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554710787770-7n7novg769o4iapnhmng32tgq6ua8dfb</string>
	<key>API_KEY</key>
	<string>AIzaSyDOBBJniawp0YmKRwMIMFmdwob8VC6pDM0</string>
	<key>GCM_SENDER_ID</key>
	<string>554710787770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.newsapp</string>
	<key>PROJECT_ID</key>
	<string>news-app-8dfda</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-8dfda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554710787770:ios:720c5401c99a04df290483</string>
</dict>
</plist>